{% extends "layout.html" %}


{% block content %}
    <h1>Book Details</h1>

    <div id="details">
        <ul>
            <li>ISBN: {{ book.isbn }}</li>
            <li>Title: {{ book.title }}</li>
            <li>Author: {{ book.author }}</li>
            <li>Year: {{ book.year}}</li>
        </ul>
    </div>

    <div id="reviews">
        <h2>Reviews</h2>
        <ul>
            <li>GoodReads Reviews Count: {{ book.gr_review_count }}</li>
            <li>GoodReads Average Score: {{ book.gr_average_score }}</li>
            <li>Reviews Count on Our Site: {{ book.review_count }}</li>
            <li>Average Score on Our Site: {{ book.average_score }}</li>
        </ul>
        {% if reviews %}
            <h4>Users Reviews:</h4>
            <ul>
                {% for review in reviews %}
                    <li>@{{ review.user }} rated:<br>
                        SCORE: {{ review.score }}<br>
                        "{{ review.text }}"
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div id="submit_review">
        <h4>Submit a Review</h4>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.score.label }}<br>
            {% for subfield in form.score %}
                <tr>
                    &nbsp;&nbsp;&nbsp;
                    <td>{{ subfield.label }}</td>
                    <td>{{ subfield }}</td>
                </tr>
            {% endfor %}

            <br>
            {{ form.text.label }}<br>
            {{ form.text(cols=32, rows=4) }}<br>
            <p>{{ form.submit() }}</p>
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    {% if success is sameas true %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endif %}
                    <!--<div class="my-notify-error"><i class="fas fa-exclamation"></i> {{ message }}</div>-->
                {% endfor %}
        {% endif %}
    {% endwith %}

    </div>



{% endblock %}
