{% extends "layout.html" %}

{% block content %}
    <h1>Sign In</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                    <!--<div class="my-notify-error"><i class="fas fa-exclamation"></i> {{ message }}</div>-->
                {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p><br>
        <p>New User? <a href="{{ url_for('signup') }}">Click to Signup!</a></p>
    </form>
{% endblock %}